h1.first {
  text-align: center;
  text-shadow: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  color: #DCFBD2;
  font-stretch: condensed;
  text-transform: uppercase;
  margin-top: .5px;
}

ul.margins {
margin-top: 5px;
}

ul.rbullet {
  list-style: none;;
}

.img-circle {
  border-radius: 50%;
}

.center {
  text-align: center;
}

.bar{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  /*background-color: #CDEAC0;*/
}

.body {
  background-color: white;
}

.background2 {
  background-color: #CDEAC0;
}

.tab {
  /*background-color: #CDEAC0;*/
  background-image: url(test.png);
  padding-bottom: 5px;
}

#wrap{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 1px;
  background-image: url(test5.png);

}

#bar {
  color: #CDEAC0;
  padding-top: .5px;
  padding-bottom: .5px;
}

body {
  background-image:url("test3.png");
}

h1 {
  background-color: white;
  background-repeat: repeat;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

img {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 20px;
  border: 1px solid #C5C4C4;
  background-color:black;

}

h1 {
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-shadow: -4px 0 #B1F6CB, 0 4px #B1F6CB, 4px 0 #B1F6CB, 0 -4px #B1F6CB;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-shadow: -1px 0 #B1F6CB, 0 1px #B1F6CB, 1px 0 #B1F6CB, 0 -1px #B1F6CB;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-shadow: -1px 0 #B1F6CB, 0 1px #B1F6CB, 1px 0 #B1F6CB, 0 -1px #B1F6CB;
}

ul {
  list-style: square;
}

a {
  color: #FFA69E;
  font-style: italic;
}
